<!DOCTYPE html>
<html lang="en">
<head>
    <!-- РесурсыБитрикса Данные ресурсы будут автоматически загружены битриксом -->
    <link rel="stylesheet" href="/local/templates/main/template_styles.css">
    <script src="/local/templates/main/script.js"></script>
    <!-- Конец РесурсыБитрикса -->
    <meta charset="UTF-8">
    <title>Postcss project</title>
</head>
<body>
<div class="container">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div>
